<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylz.test.dao.DicDeptPojoMapper">

    <resultMap id="dicDeptPojoResultMap" type="com.ylz.test.pojo.DicDeptPojo">
                <result column="organCode" property="organCode"/> 
        <result column="organName" property="organName"/> 
        <result column="deptCode" property="deptCode"/> 
        <result column="deptName" property="deptName"/> 
        <result column="ksnbdm" property="ksnbdm"/> 
        <result column="sjksdm" property="sjksdm"/> 
        <result column="bqCode" property="bqCode"/> 
        <result column="kslx" property="kslx"/> 
        <result column="spellcode" property="spellcode"/> 
        <result column="wsjdm" property="wsjdm"/> 
        <result column="ybdm" property="ybdm"/> 
        <result column="sm" property="sm"/> 
        <result column="xgsj" property="xgsj"/> 
        <result column="ghzt" property="ghzt"/> 
        <result column="zyksbz" property="zyksbz"/> 
        <result column="scsj" property="scsj"/> 
        <result column="transflag" property="transflag"/> 
        <result column="sbjdm" property="sbjdm"/> 

        
        
    </resultMap>

    <resultMap id="dicDeptPojoResultMapVo" type="com.ylz.test.vo.DicDeptPojoVo">
                <result column="organCode" property="organCode"/> 
        <result column="organName" property="organName"/> 
        <result column="deptCode" property="deptCode"/> 
        <result column="deptName" property="deptName"/> 
        <result column="ksnbdm" property="ksnbdm"/> 
        <result column="sjksdm" property="sjksdm"/> 
        <result column="bqCode" property="bqCode"/> 
        <result column="kslx" property="kslx"/> 
        <result column="spellcode" property="spellcode"/> 
        <result column="wsjdm" property="wsjdm"/> 
        <result column="ybdm" property="ybdm"/> 
        <result column="sm" property="sm"/> 
        <result column="xgsj" property="xgsj"/> 
        <result column="ghzt" property="ghzt"/> 
        <result column="zyksbz" property="zyksbz"/> 
        <result column="scsj" property="scsj"/> 
        <result column="transflag" property="transflag"/> 
        <result column="sbjdm" property="sbjdm"/> 

        
        
    </resultMap>

    <sql id="dicDeptPojoColumns">
        DIC_DEPT.ORGAN_CODE AS "organCode",
        DIC_DEPT.ORGAN_NAME AS "organName",
        DIC_DEPT.DEPT_CODE AS "deptCode",
        DIC_DEPT.DEPT_NAME AS "deptName",
        DIC_DEPT.KSNBDM AS "ksnbdm",
        DIC_DEPT.SJKSDM AS "sjksdm",
        DIC_DEPT.BQ_CODE AS "bqCode",
        DIC_DEPT.KSLX AS "kslx",
        DIC_DEPT.SPELLCODE AS "spellcode",
        DIC_DEPT.WSJDM AS "wsjdm",
        DIC_DEPT.YBDM AS "ybdm",
        DIC_DEPT.SM AS "sm",
        DIC_DEPT.XGSJ AS "xgsj",
        DIC_DEPT.GHZT AS "ghzt",
        DIC_DEPT.ZYKSBZ AS "zyksbz",
        DIC_DEPT.SCSJ AS "scsj",
        DIC_DEPT.TRANSFLAG AS "transflag",
        DIC_DEPT.SBJDM AS "sbjdm"
    </sql>

    <sql id="dicDeptPojoJoins">
        
    </sql>

    <select id="get" resultMap="dicDeptPojoResultMap">
        SELECT
        <include refid="dicDeptPojoColumns" />
        FROM DIC_DEPT <include refid="dicDeptPojoJoins" />
        <where>
        DIC_DEPT. = #{id}
        </where>
    </select>

    <select id="findList" resultMap="dicDeptPojoResultMap">
        SELECT
        <include refid="dicDeptPojoColumns" />
        FROM DIC_DEPT <include refid="dicDeptPojoJoins" />
        <where>
        </where>
    </select>

    <select id="findListByReq" resultMap="dicDeptPojoResultMapVo" parameterType="com.ylz.test.req.DicDeptPojoReq">
        SELECT
        <include refid="dicDeptPojoColumns" />
        FROM DIC_DEPT <include refid="dicDeptPojoJoins" />
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="dicDeptPojoResultMap">
        SELECT
        <include refid="dicDeptPojoColumns" />
        FROM DIC_DEPT <include refid="dicDeptPojoJoins" />
        <where>
        </where>
    </select>

    <insert id="insert" parameterType="com.ylz.test.pojo.DicDeptPojo">
        INSERT INTO DIC_DEPT(
            ORGAN_CODE,
            ORGAN_NAME,
            DEPT_CODE,
            DEPT_NAME,
            KSNBDM,
            SJKSDM,
            BQ_CODE,
            KSLX,
            SPELLCODE,
            WSJDM,
            YBDM,
            SM,
            XGSJ,
            GHZT,
            ZYKSBZ,
            SCSJ,
            TRANSFLAG,
            SBJDM
        )
        VALUES (
            #{organCode,jdbcType=VARCHAR},
            #{organName,jdbcType=VARCHAR},
            #{deptCode,jdbcType=VARCHAR},
            #{deptName,jdbcType=VARCHAR},
            #{ksnbdm,jdbcType=VARCHAR},
            #{sjksdm,jdbcType=VARCHAR},
            #{bqCode,jdbcType=VARCHAR},
            #{kslx,jdbcType=VARCHAR},
            #{spellcode,jdbcType=VARCHAR},
            #{wsjdm,jdbcType=VARCHAR},
            #{ybdm,jdbcType=VARCHAR},
            #{sm,jdbcType=VARCHAR},
            #{xgsj},
            #{ghzt,jdbcType=VARCHAR},
            #{zyksbz,jdbcType=VARCHAR},
            #{scsj},
            #{transflag},
            #{sbjdm,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO DIC_DEPT(
            ORGAN_CODE,
            ORGAN_NAME,
            DEPT_CODE,
            DEPT_NAME,
            KSNBDM,
            SJKSDM,
            BQ_CODE,
            KSLX,
            SPELLCODE,
            WSJDM,
            YBDM,
            SM,
            XGSJ,
            GHZT,
            ZYKSBZ,
            SCSJ,
            TRANSFLAG,
            SBJDM
        )
        <foreach collection ="list" item="dicDeptPojo" separator ="union all">
        (
            SELECT
            #{dicDeptPojo.organCode,jdbcType=VARCHAR},
            #{dicDeptPojo.organName,jdbcType=VARCHAR},
            #{dicDeptPojo.deptCode,jdbcType=VARCHAR},
            #{dicDeptPojo.deptName,jdbcType=VARCHAR},
            #{dicDeptPojo.ksnbdm,jdbcType=VARCHAR},
            #{dicDeptPojo.sjksdm,jdbcType=VARCHAR},
            #{dicDeptPojo.bqCode,jdbcType=VARCHAR},
            #{dicDeptPojo.kslx,jdbcType=VARCHAR},
            #{dicDeptPojo.spellcode,jdbcType=VARCHAR},
            #{dicDeptPojo.wsjdm,jdbcType=VARCHAR},
            #{dicDeptPojo.ybdm,jdbcType=VARCHAR},
            #{dicDeptPojo.sm,jdbcType=VARCHAR},
            #{dicDeptPojo.xgsj},
            #{dicDeptPojo.ghzt,jdbcType=VARCHAR},
            #{dicDeptPojo.zyksbz,jdbcType=VARCHAR},
            #{dicDeptPojo.scsj},
            #{dicDeptPojo.transflag},
            #{dicDeptPojo.sbjdm,jdbcType=VARCHAR}
            FROM DUAL
        )
        </foreach>
    </insert>

    <update id="update" parameterType="com.ylz.test.pojo.DicDeptPojo">
        UPDATE DIC_DEPT
        <set>
        <if test='organCode!=null and organCode!=""'>
        ORGAN_CODE = #{organCode,jdbcType=VARCHAR},
        </if>
        <if test='organName!=null and organName!=""'>
        ORGAN_NAME = #{organName,jdbcType=VARCHAR},
        </if>
        <if test='deptCode!=null and deptCode!=""'>
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
        </if>
        <if test='deptName!=null and deptName!=""'>
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
        </if>
        <if test='ksnbdm!=null and ksnbdm!=""'>
        KSNBDM = #{ksnbdm,jdbcType=VARCHAR},
        </if>
        <if test='sjksdm!=null and sjksdm!=""'>
        SJKSDM = #{sjksdm,jdbcType=VARCHAR},
        </if>
        <if test='bqCode!=null and bqCode!=""'>
        BQ_CODE = #{bqCode,jdbcType=VARCHAR},
        </if>
        <if test='kslx!=null and kslx!=""'>
        KSLX = #{kslx,jdbcType=VARCHAR},
        </if>
        <if test='spellcode!=null and spellcode!=""'>
        SPELLCODE = #{spellcode,jdbcType=VARCHAR},
        </if>
        <if test='wsjdm!=null and wsjdm!=""'>
        WSJDM = #{wsjdm,jdbcType=VARCHAR},
        </if>
        <if test='ybdm!=null and ybdm!=""'>
        YBDM = #{ybdm,jdbcType=VARCHAR},
        </if>
        <if test='sm!=null and sm!=""'>
        SM = #{sm,jdbcType=VARCHAR},
        </if>
        <if test='xgsj!=null'>
        XGSJ = #{xgsj},
        </if>
        <if test='ghzt!=null and ghzt!=""'>
        GHZT = #{ghzt,jdbcType=VARCHAR},
        </if>
        <if test='zyksbz!=null and zyksbz!=""'>
        ZYKSBZ = #{zyksbz,jdbcType=VARCHAR},
        </if>
        <if test='scsj!=null'>
        SCSJ = #{scsj},
        </if>
        <if test='transflag!=null'>
        TRANSFLAG = #{transflag},
        </if>
        <if test='sbjdm!=null and sbjdm!=""'>
        SBJDM = #{sbjdm,jdbcType=VARCHAR},
        </if>
    </set>
        WHERE  = #{}
    </update>

    <update id="delete" parameterType="com.ylz.test.pojo.DicDeptPojo">
        DELETE FROM DIC_DEPT
        WHERE  = #{}
    </update>

</mapper>