<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylz.test.dao.DrugListManPojoMapper">

    <resultMap id="drugListManPojoResultMap" type="com.ylz.test.pojo.DrugListManPojo">
                <result column="orgId" property="orgId"/> 
        <result column="orgName" property="orgName"/> 
        <result column="userId" property="userId"/> 
        <result column="userName" property="userName"/> 
        <result column="createDate" property="createDate"/> 
        <result column="updateDate" property="updateDate"/> 
        <result column="isDelete" property="isDelete"/> 
        <result column="effectiveFlag" property="effectiveFlag"/> 
        <result column="listManId" property="listManId"/> 
        <result column="listManName" property="listManName"/> 
        <result column="defFlag" property="defFlag"/> 
        <result column="manFlag" property="manFlag"/> 
        <result column="outHosType" property="outHosType"/> 
        <result column="remark" property="remark"/> 
        <result column="publicFlag" property="publicFlag"/> 

        
        
    </resultMap>

    <resultMap id="drugListManPojoResultMapVo" type="com.ylz.test.vo.DrugListManPojoVo">
                <result column="orgId" property="orgId"/> 
        <result column="orgName" property="orgName"/> 
        <result column="userId" property="userId"/> 
        <result column="userName" property="userName"/> 
        <result column="createDate" property="createDate"/> 
        <result column="updateDate" property="updateDate"/> 
        <result column="isDelete" property="isDelete"/> 
        <result column="effectiveFlag" property="effectiveFlag"/> 
        <result column="listManId" property="listManId"/> 
        <result column="listManName" property="listManName"/> 
        <result column="defFlag" property="defFlag"/> 
        <result column="manFlag" property="manFlag"/> 
        <result column="outHosType" property="outHosType"/> 
        <result column="remark" property="remark"/> 
        <result column="publicFlag" property="publicFlag"/> 

        
        
    </resultMap>

    <sql id="drugListManPojoColumns">
        DRUG_LIST_MAN.ORG_ID AS "orgId",
        DRUG_LIST_MAN.ORG_NAME AS "orgName",
        DRUG_LIST_MAN.USER_ID AS "userId",
        DRUG_LIST_MAN.USER_NAME AS "userName",
        DRUG_LIST_MAN.CREATE_DATE AS "createDate",
        DRUG_LIST_MAN.UPDATE_DATE AS "updateDate",
        DRUG_LIST_MAN.IS_DELETE AS "isDelete",
        DRUG_LIST_MAN.EFFECTIVE_FLAG AS "effectiveFlag",
        DRUG_LIST_MAN.LIST_MAN_ID AS "listManId",
        DRUG_LIST_MAN.LIST_MAN_NAME AS "listManName",
        DRUG_LIST_MAN.DEF_FLAG AS "defFlag",
        DRUG_LIST_MAN.MAN_FLAG AS "manFlag",
        DRUG_LIST_MAN.OUT_HOS_TYPE AS "outHosType",
        DRUG_LIST_MAN.REMARK AS "remark",
        DRUG_LIST_MAN.PUBLIC_FLAG AS "publicFlag"
    </sql>

    <sql id="drugListManPojoJoins">
        
    </sql>

    <select id="get" resultMap="drugListManPojoResultMap">
        SELECT
        <include refid="drugListManPojoColumns" />
        FROM DRUG_LIST_MAN <include refid="drugListManPojoJoins" />
        <where>
        DRUG_LIST_MAN.LIST_MAN_ID = #{id}
        </where>
    </select>

    <select id="findList" resultMap="drugListManPojoResultMap">
        SELECT
        <include refid="drugListManPojoColumns" />
        FROM DRUG_LIST_MAN <include refid="drugListManPojoJoins" />
        <where>
        </where>
    </select>

    <select id="findListByReq" resultMap="drugListManPojoResultMapVo" parameterType="com.ylz.test.req.DrugListManPojoReq">
        SELECT
        <include refid="drugListManPojoColumns" />
        FROM DRUG_LIST_MAN <include refid="drugListManPojoJoins" />
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="drugListManPojoResultMap">
        SELECT
        <include refid="drugListManPojoColumns" />
        FROM DRUG_LIST_MAN <include refid="drugListManPojoJoins" />
        <where>
        </where>
    </select>

    <insert id="insert" parameterType="com.ylz.test.pojo.DrugListManPojo">
        INSERT INTO DRUG_LIST_MAN(
            ORG_ID,
            ORG_NAME,
            USER_ID,
            USER_NAME,
            CREATE_DATE,
            UPDATE_DATE,
            IS_DELETE,
            EFFECTIVE_FLAG,
            LIST_MAN_ID,
            LIST_MAN_NAME,
            DEF_FLAG,
            MAN_FLAG,
            OUT_HOS_TYPE,
            REMARK,
            PUBLIC_FLAG
        )
        VALUES (
            #{orgId,jdbcType=VARCHAR},
            #{orgName,jdbcType=VARCHAR},
            #{userId,jdbcType=VARCHAR},
            #{userName,jdbcType=VARCHAR},
            #{createDate},
            #{updateDate},
            #{isDelete,jdbcType=VARCHAR},
            #{effectiveFlag,jdbcType=VARCHAR},
            #{listManId,jdbcType=VARCHAR},
            #{listManName,jdbcType=VARCHAR},
            #{defFlag,jdbcType=VARCHAR},
            #{manFlag,jdbcType=VARCHAR},
            #{outHosType,jdbcType=VARCHAR},
            #{remark,jdbcType=VARCHAR},
            #{publicFlag,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO DRUG_LIST_MAN(
            ORG_ID,
            ORG_NAME,
            USER_ID,
            USER_NAME,
            CREATE_DATE,
            UPDATE_DATE,
            IS_DELETE,
            EFFECTIVE_FLAG,
            LIST_MAN_ID,
            LIST_MAN_NAME,
            DEF_FLAG,
            MAN_FLAG,
            OUT_HOS_TYPE,
            REMARK,
            PUBLIC_FLAG
        )
        <foreach collection ="list" item="drugListManPojo" separator ="union all">
        (
            SELECT
            #{drugListManPojo.orgId,jdbcType=VARCHAR},
            #{drugListManPojo.orgName,jdbcType=VARCHAR},
            #{drugListManPojo.userId,jdbcType=VARCHAR},
            #{drugListManPojo.userName,jdbcType=VARCHAR},
            #{drugListManPojo.createDate},
            #{drugListManPojo.updateDate},
            #{drugListManPojo.isDelete,jdbcType=VARCHAR},
            #{drugListManPojo.effectiveFlag,jdbcType=VARCHAR},
            #{drugListManPojo.listManId,jdbcType=VARCHAR},
            #{drugListManPojo.listManName,jdbcType=VARCHAR},
            #{drugListManPojo.defFlag,jdbcType=VARCHAR},
            #{drugListManPojo.manFlag,jdbcType=VARCHAR},
            #{drugListManPojo.outHosType,jdbcType=VARCHAR},
            #{drugListManPojo.remark,jdbcType=VARCHAR},
            #{drugListManPojo.publicFlag,jdbcType=VARCHAR}
            FROM DUAL
        )
        </foreach>
    </insert>

    <update id="update" parameterType="com.ylz.test.pojo.DrugListManPojo">
        UPDATE DRUG_LIST_MAN
        <set>
        <if test='orgId!=null and orgId!=""'>
ORG_ID = #{orgId,jdbcType=VARCHAR},
        </if>
        <if test='orgName!=null and orgName!=""'>
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
        </if>
        <if test='userId!=null and userId!=""'>
        USER_ID = #{userId,jdbcType=VARCHAR},
        </if>
        <if test='userName!=null and userName!=""'>
        USER_NAME = #{userName,jdbcType=VARCHAR},
        </if>
        <if test='createDate!=null'>
        CREATE_DATE = #{createDate},
        </if>
        <if test='updateDate!=null'>
        UPDATE_DATE = #{updateDate},
        </if>
        <if test='isDelete!=null and isDelete!=""'>
        IS_DELETE = #{isDelete,jdbcType=VARCHAR},
        </if>
        <if test='effectiveFlag!=null and effectiveFlag!=""'>
        EFFECTIVE_FLAG = #{effectiveFlag,jdbcType=VARCHAR},
        </if>
        <if test='listManId!=null and listManId!=""'>
        LIST_MAN_ID = #{listManId,jdbcType=VARCHAR},
        </if>
        <if test='listManName!=null and listManName!=""'>
        LIST_MAN_NAME = #{listManName,jdbcType=VARCHAR},
        </if>
        <if test='defFlag!=null and defFlag!=""'>
        DEF_FLAG = #{defFlag,jdbcType=VARCHAR},
        </if>
        <if test='manFlag!=null and manFlag!=""'>
        MAN_FLAG = #{manFlag,jdbcType=VARCHAR},
        </if>
        <if test='outHosType!=null and outHosType!=""'>
        OUT_HOS_TYPE = #{outHosType,jdbcType=VARCHAR},
        </if>
        <if test='remark!=null and remark!=""'>
        REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        <if test='publicFlag!=null and publicFlag!=""'>
        PUBLIC_FLAG = #{publicFlag,jdbcType=VARCHAR},
        </if>
    </set>
        WHERE LIST_MAN_ID = #{listManId}
    </update>

    <update id="delete" parameterType="com.ylz.test.pojo.DrugListManPojo">
        DELETE FROM DRUG_LIST_MAN
        WHERE LIST_MAN_ID = #{listManId}
    </update>

</mapper>